{% extends 'TJMBaseBundle:skeletons:full.html.twig' %}

{% block docStyles %}
{%	stylesheets '@AppBundle/Resources/public/presentation/*.css' %}
<link href="{{ asset_url }}" rel="stylesheet" />
{%	endstylesheets %}
{% endblock %}

{% block docPreScripts %}
<script><!--
	/*{# stick class name onto html denoting js support. -@<http://www.paulirish.com/2009/avoiding-the-fouc-v3/> #}*/
	(function(H){H.className=H.className.replace(/\bua-no-js\b/,'ua-js')})(document.documentElement);
	/*{# tell js what environment we're in #}*/
	window.ENV = '{{app.environment}}';
--></script>
{% endblock %}

{% block docPostScripts %}
{%	javascripts '@AppBundle/Resources/public/behavior/*.js' %}
<script src="{{ asset_url }}"></script>
{%	endjavascripts %}
{% endblock %}

{% block docNav %}
{{ parent() }}
<ul class="navList docNavList l-1">
	<li class="docNavItem navItem l-1"><a class="navAction l-1" href="{{ path('appHome') }}" rel="home">Home</a></li>
</ul>
{% endblock %}
